.tictactoe-container{
    text-align: center;
    background:linear-gradient(to bottom, #6600ff 0%, #6688ff 90%);
    width:400px;
    height: 500px;
    margin: 0 auto;
}

.title{
    border-bottom: 3px solid white;
    padding:12px;
    color:white;
    font-size: 1.8rem;
}

.tac-color{
    color:red;
}

.reset{
    background-color: mediumblue;
    padding: 10px;
    width: 224px;
    border: 1px solid mediumblue;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin:1px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}