.tictactoe-container{
    text-align: center;
    background:linear-gradient(to bottom, #6600ff 0%, #6688ff 90%);
    width:400px;
    height: 500px;
    margin: 0 auto;
}

.title{
    border-bottom: 3px solid white;
    padding:12px;
    color:white;
    font-size: 1.8rem;
}

.tac-color{
    color:red;
}